<div class="row">
  <div class="col-12">
    <h1 class="text-center">Lista de usuarios</h1>
    <div class="row">
      <div class="col-12 ">

        <div class="row">
          <div class="col-5 bg-info mx-2" aria-hidden="true">
            <form (ngSubmit)="createUser(newName.value, newEmail.value, newPassword.value, newConfirmPassword.value)">
              <h2>Crear usuario</h2>
              <label class="mt-2">Nombre</label>
              <input type="text" name="name" id="name" class="form-control mt-2" #newName [value]="">
              <label class="mt-2">Mail</label>
              <input type="text" name="mail" id="mail" class="form-control mt-2" #newEmail [value]="">
              <label class="mt-2">Contraseña</label>
              <input type="password" name="password" id="password" class="form-control mt-2"  #newPassword [value]="">
              <label class="mt-2">Confirmar contraseña</label>
              <input type="password" name="passwordConfirm" id="passwordconfirm" #newConfirmPassword class="form-control mt-2">
              
              <div class="row">
                  <button class="btn btn-block btn-primary mb-4 mt-4 w-100" type="submit" >Crear</button>
                  <button class="btn btn-block btn-primary mb-4 mt-4 w-100" type="button" (click)="refres()" >Refrescar</button>
              </div>
            </form>
          </div>
          <div class="col-5 bg-info mx-2" aria-hidden="true">
            <form (ngSubmit)="updateUser(id.value,name.value,password.value,mail.value,confirmPassword.value)">
              <h3>Editar usuario</h3>
              <label class="mt-2">Nombre</label>
              <input type="text" name="name" id="name" class="form-control mt-2" #name [value]="userEditable.nameAux">
              <label class="mt-2">Mail</label>
              <input type="text" name="mail" id="mail" class="form-control mt-2"  #mail [value]="userEditable.emailAux">
              <label class="mt-2">Contraseña</label>
              <input type="password" name="password" id="password" class="form-control mt-2"  #password [value]="userEditable.passwordAux" >
              <label class="mt-2">Confirmar contraseña</label>
              <input type="password" name="passwordConfirm" id="passwordconfirm" class="form-control mt-2" #confirmPassword [value]="userEditable.passwordAux">
               <div #id value="hola"></div>
              <div class="col-12">
                <button class="btn btn-block btn-primary mb-4 mt-4 w-100" type="submit">Guardar</button>
              </div>
              <div class="col-12">
                <button class="btn btn-block btn-primary mb-4 mt-4 w-100" type="reset" (click)="delete(userEditable.nameAux)">Borrar</button>
              </div>
            
        </form>
          </div>
        </div>
        <!--*ngFor="let o of userList"-->
        <!--
        <div class="row">
          <div class="col-3 bg-info mx-5 my-3" *ngFor="let user of userList; let i = index" [attr.id]="'userDiv' + i" >
        <form (ngSubmit)="updateUser(user._id,name.value, password.value,mail.value, confirmPassword.value)">
         
              <label>{{user._id}}</label>
              <p></p>
              <label class="mt-2">Nombre</label>
              <input type="text" name="name" id="name" class="form-control mt-2" #name [value]="user.name">
              <label class="mt-2">Mail</label>
              <input type="text" name="mail" id="mail" class="form-control mt-2"  #mail [value]="user.email">
              <label class="mt-2">Contraseña</label>
              <input type="password" name="password" id="password" class="form-control mt-2"  #password [value]="user.password" >
              <label class="mt-2">Confirmar contraseña</label>
              <input type="password" name="passwordConfirm" id="passwordconfirm" class="form-control mt-2" #confirmPassword [value]="user.password">
              
              <div class="col-6">
                <button class="btn btn-block btn-primary mb-4 mt-4 w-100" type="submit">Guardar</button>
              </div>
              <div class="col-6">
                <button class="btn btn-block btn-primary mb-4 mt-4 w-100" type="reset" (click)="delete(user.name)">Borrar</button>
              </div>
            
        </form>
      </div>
    </div>
      </div>
    </div>
  -->
    <div class="row">
      <div class="col-12">

            <table class="table table-dark table-bordered" >

              <thead>
                <tr>
                  <th class="text-center" scope="col">Index</th>
                  <th class="text-center" scope="col">Nick</th>
                  <th class="text-center" scope="col">Correo</th>
                  <th class="text-center" scope="col">Estado</th>
                  <th class="text-center" scope="col">Edicion</th>
                </tr>
              </thead>

              <tbody style="border-width: 5px;">

                <tr *ngFor="let user of userList; let i = index">

                  <th>{{user._id}}</th>
                  <th>{{user.name}}</th>
                  <th>{{user.email }}</th>
                  <th>
                    <samp *ngIf="user.Estado">Conectado</samp>
                    <samp *ngIf="!user.Estado">Desconectado</samp>
                  </th>
                  <th><button class="btn btn-block btn-primary  w-100" (click)="loadEdition(user._id, user.name, user.email, user.password, user.passwordConfirm)">Editar</button></th>

                </tr>
                
              </tbody>
            </table>

      </div>
    </div>


  </div>
</div>
