
<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <button class="btn tn-block btn-primary mt-4 w-100" (click)="showCreate()">Crear nuevo usuario</button>
        <button class="btn tn-block btn-success mt-4 w-100" (click)="refres()">Refrescar</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        
        
            <table class="table table-dark table-bordered mt-4" >

              <thead>
                <tr>
                  <th class="text-center" scope="col">Index</th>
                  <th class="text-center" scope="col">Nick</th>
                  <th class="text-center" scope="col">Correo</th>
                  <th class="text-center" scope="col">Estado</th>
                  <th class="text-center" scope="col">Edicion</th>
                </tr>
              </thead>

              <tbody style="border-width: 5px;">

                <tr *ngFor="let user of userList; let i = index" [attr.id]="'userDiv' + i">

                  <th>{{i+1}}</th>
                  <th>{{user.name}}</th>
                  <th>{{user.email }}</th>
                  <th>
                    <samp *ngIf="user.online">EN LINEA</samp>
                    <samp *ngIf="!user.online">DESCONECTADO</samp>
                  </th>
                  <th><button class="btn btn-block btn-primary  w-100" (click)="loadEdition(user._id, user.name, user.email, user.password, i+1)">Editar</button></th>

                </tr>
                
              </tbody>
            </table>

      </div>
    </div>

  </div>
</div>
